.profile-container {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    width: 200px;
}

.profile-container p {
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-container .ant-btn-link {
    display: block;
    margin-bottom: 5px;
}

.profile-container .ant-btn-danger {
    display: block;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
